
/*---------------------------------------
     HERO              
  -----------------------------------------*/

.hero {
  background-image: url('../home/images/hero-bg.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  vertical-align: middle;
  min-height: 100vh;
  position: relative;
}
/* BG OVERLAY */

.bg-overlay {
  background: var(--dark-color);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.85;
}



/*---------------------------------------
     CLASS               
  -----------------------------------------*/

.class-info {
  background: var(--white-color);
  box-shadow: 6px 0 38px rgba(20, 20, 20, 0.10);
  border-radius: 0 0 2px 2px;
  padding: 1rem 2rem;
  position: relative;
}

.class-info img {
  border-radius: 2px 2px 0 0;
}

.class-info strong {
  color: var(--gray-color);
}

.class-price {
  background: var(--primary-color);
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
  display: block;
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
}


/*---------------------------------------
     SCHEDULE             
  -----------------------------------------*/


.musscleGain {
  color: white;
}

.schedule {
  background: var(--dark-color);
}

.schedule-table {
  display: table;
  border: 0;
  text-align: center;
}

.schedule-table strong,
.schedule-table span {
  display: block;
  text-align: center;
}

.schedule-table strong {
  color: var(--white-color);
}

.schedule-table span {
  color: var(--gray-color);
}

.schedule-table span,
.schedule-table small {
  font-size: var(--menu-font-size);
  text-transform: uppercase;
}

.schedule-table small {
  position: relative;
  top: 10px;
}

.table .thead-light th,
.schedule-table tr td:first-child {
  background: var(--primary-color);
  border: 1px solid #212122;
  color: var(--white-color);
}

.schedule-table .thead-light th {
  border-bottom: 0;
  text-transform: uppercase;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #212122;
}

.table-bordered td {
  padding-bottom: 22px;
}

.table td,
.table th {
  padding: 1rem;
}


/*---------------------------------------
      ABOUT & TEAM            
  -----------------------------------------*/

.about {
  background: var(--about-bg-color);
}

.about-working-hours {
  border-left: 2px solid;
  padding-left: 3.5rem;
}

.about-working-hours strong {
  color: var(--white-color);
  opacity: 0.85;
}

.team-thumb {
  position: relative;
}

.team-info {
  background: var(--white-color);
  border-radius: 0 0 2px 2px;
  box-shadow: 6px 0 38px rgba(20, 20, 20, 0.10);
  padding: 20px;
  position: relative;
}

.team-info span {
  font-weight: var(--font-weight-light);
  opacity: 0.85;
}

.team-info .social-icon {
  position: absolute;
  top: 10px;
  right: 20px;
}

.team-info .social-icon li {
  display: block;
}


/*---------------------------------------
     CONTACT              
  -----------------------------------------*/

.webform input,
button#submit-button {
  height: calc(2.25rem + 20px);
}

.form-control {
  border-radius: var(--border-radius-small);
  margin: 1.3rem 0;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--dark-color);
}

button#submit-button {
  background: var(--dark-color);
  border-color: transparent;
  color: var(--white-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

button#submit-button:hover {
  background: var(--primary-color);
}

.contact h2+p {
  max-width: 90%;
}

.google-map {
  border-top: 1px solid #efebeb;
  margin-top: 2.5rem;
  padding-top: 2.5rem;
}

.google-map iframe {
  width: 100%;
}



